<section class="cv-section" id="custom-app">
  <div class="container">
    <div class="row text-center align-items-center">
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod == 1 %}
        <div class="col-md-4 vertical-center">
          {% if include.section.media.type == 'video' %}
            <video class="custom-app-gif" autoplay muted>
               <source src="{{ include.section.media.source }}" type="video/mp4">
                 Your browser does not support the video tag.
            </video> 
          {% else %}
            <img style=" float:left" src="{{ include.section.media.source }}" class="custom-app-gif"/>
          {% endif %}
        </div>
      {% endif %}
      <div class="col-md-8 vertical-center">
        <div>
          <h4>{{ include.section.title}}</h4>
          <p>{{ include.section.details }}</p>
          </div>
        </div>
        {% if mod == 0 %}
          <div class="col-md-4 vertical-center">
            {% if include.section.media.type == 'video' %}
              <video class="custom-app-gif" autoplay muted>
                 <source src="{{ include.section.media.source }}" type="video/mp4">
                   Your browser does not support the video tag.
              </video> 
            {% else %}
              <img style=" float:left" src="{{ include.section.media.source }}" class="custom-app-gif"/>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>

